<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserFactoryMapper">

	<resultMap type="SysUserFactory" id="SysUserFactoryResult">
		<result property="userId"     column="user_id"      />
		<result property="factoryId"   column="factory_id"    />
	</resultMap>

	<delete id="deleteUserFactoryByUserId" parameterType="Long">
		delete from sys_user_factory where user_id = #{userId}
	</delete>
	
	<delete id="deleteUserFactory" parameterType="Long">
 		delete from sys_user_factory where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
 	
 	<select id="selectFactoryListByUserId" parameterType="Long" resultType="Long">
		select factory_id from sys_user_factory where user_id = #{userId}
	</select>
	
	<insert id="batchUserFactory">
		insert into sys_user_factory(user_id, factory_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.factoryId})
		</foreach>
	</insert>

</mapper> 
