<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.PurchaseItemMapper">

    <resultMap type="PurchaseItem" id="PurchaseItemResult">
        <result property="id"    column="id"    />
        <result property="purchaseId"    column="purchase_id"    />
        <result property="sn"    column="sn"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialType"    column="material_type"    />
        <result property="purchaseCount"    column="purchase_count"    />
        <result property="purchasePrice"    column="purchase_price"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPurchaseItemVo">
        select a.id, a.purchase_id, a.sn, a.material_id, a.material_type, a.purchase_count, a.purchase_price, a.status, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_purchase_item a
    </sql>

    <select id="selectPurchaseItemList" parameterType="PurchaseItem" resultMap="PurchaseItemResult">
        <include refid="selectPurchaseItemVo"/>
        <where>
            <if test="purchaseId != null "> and a.purchase_id = #{purchaseId}</if>
            <if test="sn != null  and sn != ''"> and a.sn = #{sn}</if>
            <if test="materialId != null "> and a.material_id = #{materialId}</if>
            <if test="materialType != null  and materialType != ''"> and a.material_type = #{materialType}</if>
        </where>
    </select>

    <select id="selectPurchaseItemById" parameterType="Long" resultMap="PurchaseItemResult">
        <include refid="selectPurchaseItemVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPurchaseItem" parameterType="PurchaseItem" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_purchase_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchaseId != null">purchase_id,</if>
            <if test="sn != null">sn,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialType != null">material_type,</if>
            <if test="purchaseCount != null">purchase_count,</if>
            <if test="purchasePrice != null">purchase_price,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchaseId != null">#{purchaseId},</if>
            <if test="sn != null">#{sn},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="purchaseCount != null">#{purchaseCount},</if>
            <if test="purchasePrice != null">#{purchasePrice},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePurchaseItem" parameterType="PurchaseItem">
        update t_erp_purchase_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaseId != null">purchase_id = #{purchaseId},</if>
            <if test="sn != null">sn = #{sn},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="purchaseCount != null">purchase_count = #{purchaseCount},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePurchaseItemById" parameterType="Long">
        delete from t_erp_purchase_item where id = #{id}
    </delete>

    <delete id="deletePurchaseItemByIds" parameterType="String">
        delete from t_erp_purchase_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertPurchaseItemBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_purchase_item
        (id,purchase_id,sn,material_id,material_type,purchase_count,purchase_price,status,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.purchaseId},#{item.sn},#{item.materialId},#{item.materialType},#{item.purchaseCount},#{item.purchasePrice},#{item.status},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
