<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.CorpInvoiceMapper">

    <resultMap type="CorpInvoice" id="CorpInvoiceResult">
        <result property="id"    column="id"    />
        <result property="corpType"    column="corp_type"    />
        <result property="corpId"    column="corp_id"    />
        <result property="socialNumber"    column="social_number"    />
        <result property="corpName"    column="corp_name"    />
        <result property="corpAddress"    column="corp_address"    />
        <result property="corpPhone"    column="corp_phone"    />
        <result property="corpBank"    column="corp_bank"    />
        <result property="corpBankNo"    column="corp_bank_no"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCorpInvoiceVo">
        select a.id, a.corp_type, a.corp_id, a.social_number, a.corp_name, a.corp_address, a.corp_phone, a.corp_bank, a.corp_bank_no, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_corp_invoice a
    </sql>

    <select id="selectCorpInvoiceList" parameterType="CorpInvoice" resultMap="CorpInvoiceResult">
        <include refid="selectCorpInvoiceVo"/>
        <where>
            <if test="corpType != null  and corpType != ''"> and a.corp_type = #{corpType}</if>
            <if test="socialNumber != null  and socialNumber != ''"> and a.social_number = #{socialNumber}</if>
            <if test="corpName != null  and corpName != ''"> and a.corp_name like concat('%', #{corpName}, '%')</if>
        </where>
    </select>

    <select id="selectCorpInvoiceById" parameterType="Long" resultMap="CorpInvoiceResult">
        <include refid="selectCorpInvoiceVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertCorpInvoice" parameterType="CorpInvoice" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_corp_invoice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corpType != null">corp_type,</if>
            <if test="corpId != null">corp_id,</if>
            <if test="socialNumber != null">social_number,</if>
            <if test="corpName != null">corp_name,</if>
            <if test="corpAddress != null">corp_address,</if>
            <if test="corpPhone != null">corp_phone,</if>
            <if test="corpBank != null">corp_bank,</if>
            <if test="corpBankNo != null">corp_bank_no,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corpType != null">#{corpType},</if>
            <if test="corpId != null">#{corpId},</if>
            <if test="socialNumber != null">#{socialNumber},</if>
            <if test="corpName != null">#{corpName},</if>
            <if test="corpAddress != null">#{corpAddress},</if>
            <if test="corpPhone != null">#{corpPhone},</if>
            <if test="corpBank != null">#{corpBank},</if>
            <if test="corpBankNo != null">#{corpBankNo},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCorpInvoice" parameterType="CorpInvoice">
        update t_erp_corp_invoice
        <trim prefix="SET" suffixOverrides=",">
            <if test="corpType != null">corp_type = #{corpType},</if>
            <if test="corpId != null">corp_id = #{corpId},</if>
            <if test="socialNumber != null">social_number = #{socialNumber},</if>
            <if test="corpName != null">corp_name = #{corpName},</if>
            <if test="corpAddress != null">corp_address = #{corpAddress},</if>
            <if test="corpPhone != null">corp_phone = #{corpPhone},</if>
            <if test="corpBank != null">corp_bank = #{corpBank},</if>
            <if test="corpBankNo != null">corp_bank_no = #{corpBankNo},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCorpInvoiceById" parameterType="Long">
        delete from t_erp_corp_invoice where id = #{id}
    </delete>

    <delete id="deleteCorpInvoiceByIds" parameterType="String">
        delete from t_erp_corp_invoice where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertCorpInvoiceBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_corp_invoice
        (id,corp_type,corp_id,social_number,corp_name,corp_address,corp_phone,corp_bank,corp_bank_no,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.corpType},#{item.corpId},#{item.socialNumber},#{item.corpName},#{item.corpAddress},#{item.corpPhone},#{item.corpBank},#{item.corpBankNo},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
