<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.SalesOrderMaterialMapper">

    <resultMap type="SalesOrderMaterial" id="SalesOrderMaterialResult">
        <result property="id"    column="id"    />
        <result property="salesOrderId"    column="sales_order_id"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialId"    column="material_id"    />
        <result property="color"    column="color"    />
        <result property="unitConsumption"    column="unit_consumption"    />
        <result property="lossType"    column="loss_type"    />
        <result property="wastage"    column="wastage"    />
        <result property="planQuantity"    column="plan_quantity"    />
        <result property="totalQuantity"    column="total_quantity"    />
        <result property="totalDesc"    column="total_desc"    />
        <result property="inboundQuantity"    column="inbound_quantity"    />
        <result property="materialStatus"    column="material_status"    />
        <result property="inventoryStatus"    column="inventory_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSalesOrderMaterialVo">
        select a.id, a.sales_order_id, a.material_type, a.material_id, a.color, a.unit_consumption, a.loss_type, a.wastage, a.plan_quantity, a.total_quantity, a.total_desc, a.inbound_quantity, a.material_status, a.inventory_status, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_sales_order_material a
    </sql>

    <select id="selectSalesOrderMaterialList" parameterType="SalesOrderMaterial" resultMap="SalesOrderMaterialResult">
        <include refid="selectSalesOrderMaterialVo"/>
        <where>
            <if test="salesOrderId != null "> and a.sales_order_id = #{salesOrderId}</if>
            <if test="materialType != null  and materialType != ''"> and a.material_type = #{materialType}</if>
            <if test="materialId != null "> and a.material_id = #{materialId}</if>
            <if test="color != null  and color != ''"> and a.color = #{color}</if>
            <if test="unitConsumption != null "> and a.unit_consumption = #{unitConsumption}</if>
            <if test="lossType != null  and lossType != ''"> and a.loss_type = #{lossType}</if>
            <if test="wastage != null "> and a.wastage = #{wastage}</if>
            <if test="planQuantity != null "> and a.plan_quantity = #{planQuantity}</if>
            <if test="totalQuantity != null "> and a.total_quantity = #{totalQuantity}</if>
            <if test="totalDesc != null  and totalDesc != ''"> and a.total_desc = #{totalDesc}</if>
            <if test="inboundQuantity != null "> and a.inbound_quantity = #{inboundQuantity}</if>
            <if test="materialStatus != null  and materialStatus != ''"> and a.material_status = #{materialStatus}</if>
            <if test="inventoryStatus != null  and inventoryStatus != ''"> and a.inventory_status = #{inventoryStatus}</if>
        </where>
    </select>

    <select id="selectSalesOrderMaterialById" parameterType="Long" resultMap="SalesOrderMaterialResult">
        <include refid="selectSalesOrderMaterialVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSalesOrderMaterial" parameterType="SalesOrderMaterial" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_sales_order_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">sales_order_id,</if>
            <if test="materialType != null">material_type,</if>
            <if test="materialId != null">material_id,</if>
            <if test="color != null">color,</if>
            <if test="unitConsumption != null">unit_consumption,</if>
            <if test="lossType != null">loss_type,</if>
            <if test="wastage != null">wastage,</if>
            <if test="planQuantity != null">plan_quantity,</if>
            <if test="totalQuantity != null">total_quantity,</if>
            <if test="totalDesc != null">total_desc,</if>
            <if test="inboundQuantity != null">inbound_quantity,</if>
            <if test="materialStatus != null">material_status,</if>
            <if test="inventoryStatus != null">inventory_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">#{salesOrderId},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="color != null">#{color},</if>
            <if test="unitConsumption != null">#{unitConsumption},</if>
            <if test="lossType != null">#{lossType},</if>
            <if test="wastage != null">#{wastage},</if>
            <if test="planQuantity != null">#{planQuantity},</if>
            <if test="totalQuantity != null">#{totalQuantity},</if>
            <if test="totalDesc != null">#{totalDesc},</if>
            <if test="inboundQuantity != null">#{inboundQuantity},</if>
            <if test="materialStatus != null">#{materialStatus},</if>
            <if test="inventoryStatus != null">#{inventoryStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSalesOrderMaterial" parameterType="SalesOrderMaterial">
        update t_erp_sales_order_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="salesOrderId != null">sales_order_id = #{salesOrderId},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="color != null">color = #{color},</if>
            <if test="unitConsumption != null">unit_consumption = #{unitConsumption},</if>
            <if test="lossType != null">loss_type = #{lossType},</if>
            <if test="wastage != null">wastage = #{wastage},</if>
            <if test="planQuantity != null">plan_quantity = #{planQuantity},</if>
            <if test="totalQuantity != null">total_quantity = #{totalQuantity},</if>
            <if test="totalDesc != null">total_desc = #{totalDesc},</if>
            <if test="inboundQuantity != null">inbound_quantity = #{inboundQuantity},</if>
            <if test="materialStatus != null">material_status = #{materialStatus},</if>
            <if test="inventoryStatus != null">inventory_status = #{inventoryStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSalesOrderMaterialById" parameterType="Long">
        delete from t_erp_sales_order_material where id = #{id}
    </delete>

    <delete id="deleteSalesOrderMaterialByIds" parameterType="String">
        delete from t_erp_sales_order_material where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertSalesOrderMaterialBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_sales_order_material
        (id,sales_order_id,material_type,material_id,color,unit_consumption,loss_type,wastage,plan_quantity,total_quantity,total_desc,inbound_quantity,material_status,inventory_status,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.salesOrderId},#{item.materialType},#{item.materialId},#{item.color},#{item.unitConsumption},#{item.lossType},#{item.wastage},#{item.planQuantity},#{item.totalQuantity},#{item.totalDesc},#{item.inboundQuantity},#{item.materialStatus},#{item.inventoryStatus},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
