<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.SampleNoticeHisMapper">

    <resultMap type="SampleNoticeHis" id="SampleNoticeHisResult">
        <result property="id"    column="id"    />
        <result property="currentNoticeId"    column="current_notice_id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="sampleNo"    column="sample_no"    />
        <result property="styleType"    column="style_type"    />
        <result property="sampleCategoryType"    column="sample_category_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSampleNoticeHisVo">
        select a.id, a.current_notice_id, a.notice_id, a.sample_no, a.style_type, a.sample_category_type, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_sample_notice_his a
    </sql>

    <select id="selectSampleNoticeHisList" parameterType="SampleNoticeHis" resultMap="SampleNoticeHisResult">
        <include refid="selectSampleNoticeHisVo"/>
        <where>
            <if test="currentNoticeId != null "> and a.current_notice_id = #{currentNoticeId}</if>
            <if test="noticeId != null "> and a.notice_id = #{noticeId}</if>
            <if test="sampleNo != null  and sampleNo != ''"> and a.sample_no = #{sampleNo}</if>
            <if test="styleType != null  and styleType != ''"> and a.style_type = #{styleType}</if>
            <if test="sampleCategoryType != null  and sampleCategoryType != ''"> and a.sample_category_type = #{sampleCategoryType}</if>
        </where>
    </select>

    <select id="selectSampleNoticeHisById" parameterType="Long" resultMap="SampleNoticeHisResult">
        <include refid="selectSampleNoticeHisVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSampleNoticeHis" parameterType="SampleNoticeHis" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_sample_notice_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="currentNoticeId != null">current_notice_id,</if>
            <if test="noticeId != null">notice_id,</if>
            <if test="sampleNo != null">sample_no,</if>
            <if test="styleType != null">style_type,</if>
            <if test="sampleCategoryType != null">sample_category_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="currentNoticeId != null">#{currentNoticeId},</if>
            <if test="noticeId != null">#{noticeId},</if>
            <if test="sampleNo != null">#{sampleNo},</if>
            <if test="styleType != null">#{styleType},</if>
            <if test="sampleCategoryType != null">#{sampleCategoryType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSampleNoticeHis" parameterType="SampleNoticeHis">
        update t_erp_sample_notice_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="currentNoticeId != null">current_notice_id = #{currentNoticeId},</if>
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="sampleNo != null">sample_no = #{sampleNo},</if>
            <if test="styleType != null">style_type = #{styleType},</if>
            <if test="sampleCategoryType != null">sample_category_type = #{sampleCategoryType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSampleNoticeHisById" parameterType="Long">
        delete from t_erp_sample_notice_his where id = #{id}
    </delete>

    <delete id="deleteSampleNoticeHisByIds" parameterType="String">
        delete from t_erp_sample_notice_his where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertSampleNoticeHisBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_sample_notice_his
        (id,current_notice_id,notice_id,sample_no,style_type,sample_category_type,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.currentNoticeId},#{item.noticeId},#{item.sampleNo},#{item.styleType},#{item.sampleCategoryType},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
