<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.SampleTechCostMapper">

    <resultMap type="SampleTechCost" id="SampleTechCostResult">
        <result property="id"    column="id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="techId"    column="tech_id"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialId"    column="material_id"    />
        <result property="color"    column="color"    />
        <result property="unitConsumption​"    column="unit_consumption​"    />
        <result property="lossType"    column="loss_type"    />
        <result property="wastage"    column="wastage"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSampleTechCostVo">
        select a.id, a.notice_id, a.tech_id, a.material_type, a.material_id, a.color, a.unit_consumption​, a.loss_type, a.wastage, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_sample_tech_cost a
    </sql>

    <select id="selectSampleTechCostList" parameterType="SampleTechCost" resultMap="SampleTechCostResult">
        <include refid="selectSampleTechCostVo"/>
        <where>
            <if test="noticeId != null "> and a.notice_id = #{noticeId}</if>
            <if test="techId != null "> and a.tech_id = #{techId}</if>
            <if test="materialType != null  and materialType != ''"> and a.material_type = #{materialType}</if>
            <if test="materialId != null "> and a.material_id = #{materialId}</if>
            <if test="color != null  and color != ''"> and a.color = #{color}</if>
            <if test="unitConsumption​ != null "> and a.unit_consumption​ = #{unitConsumption​}</if>
            <if test="lossType != null  and lossType != ''"> and a.loss_type = #{lossType}</if>
            <if test="wastage != null "> and a.wastage = #{wastage}</if>
        </where>
    </select>

    <select id="selectSampleTechCostById" parameterType="Long" resultMap="SampleTechCostResult">
        <include refid="selectSampleTechCostVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSampleTechCost" parameterType="SampleTechCost" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_sample_tech_cost
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">notice_id,</if>
            <if test="techId != null">tech_id,</if>
            <if test="materialType != null">material_type,</if>
            <if test="materialId != null">material_id,</if>
            <if test="color != null">color,</if>
            <if test="unitConsumption​ != null">unit_consumption​,</if>
            <if test="lossType != null">loss_type,</if>
            <if test="wastage != null">wastage,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">#{noticeId},</if>
            <if test="techId != null">#{techId},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="color != null">#{color},</if>
            <if test="unitConsumption​ != null">#{unitConsumption​},</if>
            <if test="lossType != null">#{lossType},</if>
            <if test="wastage != null">#{wastage},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSampleTechCost" parameterType="SampleTechCost">
        update t_erp_sample_tech_cost
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="techId != null">tech_id = #{techId},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="color != null">color = #{color},</if>
            <if test="unitConsumption​ != null">unit_consumption​ = #{unitConsumption​},</if>
            <if test="lossType != null">loss_type = #{lossType},</if>
            <if test="wastage != null">wastage = #{wastage},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSampleTechCostById" parameterType="Long">
        delete from t_erp_sample_tech_cost where id = #{id}
    </delete>

    <delete id="deleteSampleTechCostByIds" parameterType="String">
        delete from t_erp_sample_tech_cost where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertSampleTechCostBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_sample_tech_cost
        (id,notice_id,tech_id,material_type,material_id,color,unit_consumption​,loss_type,wastage,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.noticeId},#{item.techId},#{item.materialType},#{item.materialId},#{item.color},#{item.unitConsumption​},#{item.lossType},#{item.wastage},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
