<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.TErpSampleNoticeMaterialMapper">

    <resultMap type="TErpSampleNoticeMaterial" id="TErpSampleNoticeMaterialResult">
        <result property="id"    column="id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="materialType"    column="material_type"    />
        <result property="supplyMethod"    column="supply_method"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialNo"    column="material_no"    />
        <result property="name"    column="name"    />
        <result property="composition"    column="composition"    />
        <result property="width"    column="width"    />
        <result property="weight"    column="weight"    />
        <result property="substance"    column="substance"    />
        <result property="size"    column="size"    />
        <result property="unit"    column="unit"    />
        <result property="color"    column="color"    />
        <result property="requirement"    column="requirement"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTErpSampleNoticeMaterialVo">
        select a.id, a.notice_id, a.material_type, a.supply_method, a.material_id, a.material_no, a.name, a.composition, a.width, a.weight, a.substance, a.size, a.unit, a.color, a.requirement, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_sample_notice_material a
    </sql>

    <select id="selectTErpSampleNoticeMaterialList" parameterType="TErpSampleNoticeMaterial" resultMap="TErpSampleNoticeMaterialResult">
        <include refid="selectTErpSampleNoticeMaterialVo"/>
        <where>
            <if test="noticeId != null "> and a.notice_id = #{noticeId}</if>
            <if test="materialType != null  and materialType != ''"> and a.material_type = #{materialType}</if>
            <if test="supplyMethod != null  and supplyMethod != ''"> and a.supply_method = #{supplyMethod}</if>
            <if test="materialId != null "> and a.material_id = #{materialId}</if>
            <if test="materialNo != null  and materialNo != ''"> and a.material_no = #{materialNo}</if>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="composition != null  and composition != ''"> and a.composition = #{composition}</if>
            <if test="width != null  and width != ''"> and a.width = #{width}</if>
            <if test="weight != null  and weight != ''"> and a.weight = #{weight}</if>
            <if test="substance != null  and substance != ''"> and a.substance = #{substance}</if>
            <if test="size != null  and size != ''"> and a.size = #{size}</if>
            <if test="unit != null  and unit != ''"> and a.unit = #{unit}</if>
            <if test="color != null  and color != ''"> and a.color = #{color}</if>
            <if test="requirement != null  and requirement != ''"> and a.requirement = #{requirement}</if>
        </where>
    </select>

    <select id="selectTErpSampleNoticeMaterialById" parameterType="Long" resultMap="TErpSampleNoticeMaterialResult">
        <include refid="selectTErpSampleNoticeMaterialVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertTErpSampleNoticeMaterial" parameterType="TErpSampleNoticeMaterial" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_sample_notice_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">notice_id,</if>
            <if test="materialType != null">material_type,</if>
            <if test="supplyMethod != null">supply_method,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialNo != null">material_no,</if>
            <if test="name != null">name,</if>
            <if test="composition != null">composition,</if>
            <if test="width != null">width,</if>
            <if test="weight != null">weight,</if>
            <if test="substance != null">substance,</if>
            <if test="size != null">size,</if>
            <if test="unit != null">unit,</if>
            <if test="color != null">color,</if>
            <if test="requirement != null">requirement,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">#{noticeId},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="supplyMethod != null">#{supplyMethod},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialNo != null">#{materialNo},</if>
            <if test="name != null">#{name},</if>
            <if test="composition != null">#{composition},</if>
            <if test="width != null">#{width},</if>
            <if test="weight != null">#{weight},</if>
            <if test="substance != null">#{substance},</if>
            <if test="size != null">#{size},</if>
            <if test="unit != null">#{unit},</if>
            <if test="color != null">#{color},</if>
            <if test="requirement != null">#{requirement},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTErpSampleNoticeMaterial" parameterType="TErpSampleNoticeMaterial">
        update t_erp_sample_notice_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="supplyMethod != null">supply_method = #{supplyMethod},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialNo != null">material_no = #{materialNo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="composition != null">composition = #{composition},</if>
            <if test="width != null">width = #{width},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="substance != null">substance = #{substance},</if>
            <if test="size != null">size = #{size},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="color != null">color = #{color},</if>
            <if test="requirement != null">requirement = #{requirement},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTErpSampleNoticeMaterialById" parameterType="Long">
        delete from t_erp_sample_notice_material where id = #{id}
    </delete>

    <delete id="deleteTErpSampleNoticeMaterialByIds" parameterType="String">
        delete from t_erp_sample_notice_material where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertTErpSampleNoticeMaterialBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_sample_notice_material
        (id,notice_id,material_type,supply_method,material_id,material_no,name,composition,width,weight,substance,size,unit,color,requirement,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.noticeId},#{item.materialType},#{item.supplyMethod},#{item.materialId},#{item.materialNo},#{item.name},#{item.composition},#{item.width},#{item.weight},#{item.substance},#{item.size},#{item.unit},#{item.color},#{item.requirement},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
