<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.WarehouseLocationMapper">

    <resultMap type="WarehouseLocation" id="WarehouseLocationResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="warehouseAreaId"    column="warehouse_area_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWarehouseLocationVo">
        select a.id, a.code, a.name, a.warehouse_area_id, a.warehouse_id, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_warehouse_location a
    </sql>

    <select id="selectWarehouseLocationList" parameterType="WarehouseLocation" resultMap="WarehouseLocationResult">
        <include refid="selectWarehouseLocationVo"/>
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="warehouseAreaId != null  and warehouseAreaId != ''"> and a.warehouse_area_id = #{warehouseAreaId}</if>
        </where>
    </select>

    <select id="selectWarehouseLocationById" parameterType="Long" resultMap="WarehouseLocationResult">
        <include refid="selectWarehouseLocationVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertWarehouseLocation" parameterType="WarehouseLocation" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_warehouse_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="warehouseAreaId != null">warehouse_area_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="warehouseAreaId != null">#{warehouseAreaId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWarehouseLocation" parameterType="WarehouseLocation">
        update t_erp_warehouse_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="warehouseAreaId != null">warehouse_area_id = #{warehouseAreaId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWarehouseLocationById" parameterType="Long">
        delete from t_erp_warehouse_location where id = #{id}
    </delete>

    <delete id="deleteWarehouseLocationByIds" parameterType="String">
        delete from t_erp_warehouse_location where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertWarehouseLocationBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_warehouse_location
        (id,code,name,warehouse_area_id,warehouse_id,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.code},#{item.name},#{item.warehouseAreaId},#{item.warehouseId},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
