<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.ProducePlanClothesMapper">

    <resultMap type="ProducePlanClothes" id="ProducePlanClothesResult">
        <result property="id"    column="id"    />
        <result property="planId"    column="plan_id"    />
        <result property="salesItemId"    column="sales_item_id"    />
        <result property="color"    column="color"    />
        <result property="size"    column="size"    />
        <result property="orderQuantity"    column="order_quantity"    />
        <result property="extraQuantity"    column="extra_quantity"    />
        <result property="planQuantity"    column="plan_quantity"    />
        <result property="inboundQuantity"    column="inbound_quantity"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProducePlanClothesVo">
        select a.id, a.plan_id, a.sales_item_id, a.color, a.size, a.order_quantity, a.extra_quantity, a.plan_quantity, a.inbound_quantity, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_produce_plan_clothes a
    </sql>

    <select id="selectProducePlanClothesList" parameterType="ProducePlanClothes" resultMap="ProducePlanClothesResult">
        <include refid="selectProducePlanClothesVo"/>
        <where>
            <if test="planId != null "> and a.plan_id = #{planId}</if>
            <if test="salesItemId != null "> and a.sales_item_id = #{salesItemId}</if>
            <if test="color != null  and color != ''"> and a.color = #{color}</if>
            <if test="size != null  and size != ''"> and a.size = #{size}</if>
            <if test="orderQuantity != null "> and a.order_quantity = #{orderQuantity}</if>
            <if test="extraQuantity != null "> and a.extra_quantity = #{extraQuantity}</if>
            <if test="planQuantity != null "> and a.plan_quantity = #{planQuantity}</if>
            <if test="inboundQuantity != null "> and a.inbound_quantity = #{inboundQuantity}</if>
        </where>
    </select>

    <select id="selectProducePlanClothesById" parameterType="Long" resultMap="ProducePlanClothesResult">
        <include refid="selectProducePlanClothesVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertProducePlanClothes" parameterType="ProducePlanClothes" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_produce_plan_clothes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">plan_id,</if>
            <if test="salesItemId != null">sales_item_id,</if>
            <if test="color != null">color,</if>
            <if test="size != null">size,</if>
            <if test="orderQuantity != null">order_quantity,</if>
            <if test="extraQuantity != null">extra_quantity,</if>
            <if test="planQuantity != null">plan_quantity,</if>
            <if test="inboundQuantity != null">inbound_quantity,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planId != null">#{planId},</if>
            <if test="salesItemId != null">#{salesItemId},</if>
            <if test="color != null">#{color},</if>
            <if test="size != null">#{size},</if>
            <if test="orderQuantity != null">#{orderQuantity},</if>
            <if test="extraQuantity != null">#{extraQuantity},</if>
            <if test="planQuantity != null">#{planQuantity},</if>
            <if test="inboundQuantity != null">#{inboundQuantity},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateProducePlanClothes" parameterType="ProducePlanClothes">
        update t_erp_produce_plan_clothes
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="salesItemId != null">sales_item_id = #{salesItemId},</if>
            <if test="color != null">color = #{color},</if>
            <if test="size != null">size = #{size},</if>
            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="extraQuantity != null">extra_quantity = #{extraQuantity},</if>
            <if test="planQuantity != null">plan_quantity = #{planQuantity},</if>
            <if test="inboundQuantity != null">inbound_quantity = #{inboundQuantity},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProducePlanClothesById" parameterType="Long">
        delete from t_erp_produce_plan_clothes where id = #{id}
    </delete>

    <delete id="deleteProducePlanClothesByIds" parameterType="String">
        delete from t_erp_produce_plan_clothes where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertProducePlanClothesBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_produce_plan_clothes
        (id,plan_id,sales_item_id,color,size,order_quantity,extra_quantity,plan_quantity,inbound_quantity,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.planId},#{item.salesItemId},#{item.color},#{item.size},#{item.orderQuantity},#{item.extraQuantity},#{item.planQuantity},#{item.inboundQuantity},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
