<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.ProducePlanMapper">

    <resultMap type="ProducePlan" id="ProducePlanResult">
        <result property="id"    column="id"    />
        <result property="salesOrderId"    column="sales_order_id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="techId"    column="tech_id"    />
        <result property="planNo"    column="plan_no"    />
        <result property="salesId"    column="sales_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="pickedDate"    column="picked_date"    />
        <result property="completeDate"    column="complete_date"    />
        <result property="materialArrivalDate"    column="material_arrival_date"    />
        <result property="upDate"    column="up_date"    />
        <result property="downDate"    column="down_date"    />
        <result property="produceType"    column="produce_type"    />
        <result property="inFactory"    column="in_factory"    />
        <result property="outFactory"    column="out_factory"    />
        <result property="outDate"    column="out_date"    />
        <result property="preProcessDate"    column="pre_process_date"    />
        <result property="inspectionDate"    column="inspection_date"    />
        <result property="inspectionCorp"    column="inspection_corp"    />
        <result property="inBoundDate"    column="in_bound_date"    />
        <result property="shippingDate"    column="shipping_date"    />
        <result property="postProcessDate"    column="post_process_date"    />
        <result property="dueDate"    column="due_date"    />
        <result property="planStatus"    column="plan_status"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="preProduceType"    column="pre_produce_type"    />
        <result property="preInFactory"    column="pre_in_factory"    />
        <result property="preOutFactory"    column="pre_out_factory"    />
        <result property="preOutDate"    column="pre_out_date"    />
        <result property="postProduceType"    column="post_produce_type"    />
        <result property="postInFactory"    column="post_in_factory"    />
        <result property="postOutFactory"    column="post_out_factory"    />
        <result property="postOutDate"    column="post_out_date"    />
    </resultMap>

    <sql id="selectProducePlanVo">
        select a.id, a.sales_order_id, a.notice_id, a.tech_id, a.plan_no, a.sales_id, a.start_date, a.picked_date, a.complete_date, a.material_arrival_date, a.up_date, a.down_date, a.produce_type, a.in_factory, a.out_factory, a.out_date, a.pre_process_date, a.inspection_date, a.inspection_corp, a.in_bound_date, a.shipping_date, a.post_process_date, a.due_date, a.plan_status, a.audit_status, a.audit_by, a.audit_time, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.pre_produce_type, a.pre_in_factory, a.pre_out_factory, a.pre_out_date, a.post_produce_type, a.post_in_factory, a.post_out_factory, a.post_out_date
        from t_erp_produce_plan a
    </sql>

    <select id="selectProducePlanList" parameterType="ProducePlan" resultMap="ProducePlanResult">
        <include refid="selectProducePlanVo"/>
        <where>
            <if test="salesOrderId != null "> and a.sales_order_id = #{salesOrderId}</if>
            <if test="noticeId != null "> and a.notice_id = #{noticeId}</if>
            <if test="techId != null "> and a.tech_id = #{techId}</if>
            <if test="planNo != null  and planNo != ''"> and a.plan_no = #{planNo}</if>
            <if test="salesId != null  and salesId != ''"> and a.sales_id = #{salesId}</if>
            <if test="startDate != null "> and a.start_date = #{startDate}</if>
            <if test="pickedDate != null "> and a.picked_date = #{pickedDate}</if>
            <if test="completeDate != null "> and a.complete_date = #{completeDate}</if>
            <if test="materialArrivalDate != null "> and a.material_arrival_date = #{materialArrivalDate}</if>
            <if test="upDate != null "> and a.up_date = #{upDate}</if>
            <if test="downDate != null "> and a.down_date = #{downDate}</if>
            <if test="produceType != null  and produceType != ''"> and a.produce_type = #{produceType}</if>
            <if test="inFactory != null  and inFactory != ''"> and a.in_factory = #{inFactory}</if>
            <if test="outFactory != null  and outFactory != ''"> and a.out_factory = #{outFactory}</if>
            <if test="outDate != null "> and a.out_date = #{outDate}</if>
            <if test="preProcessDate != null "> and a.pre_process_date = #{preProcessDate}</if>
            <if test="inspectionDate != null "> and a.inspection_date = #{inspectionDate}</if>
            <if test="inspectionCorp != null  and inspectionCorp != ''"> and a.inspection_corp = #{inspectionCorp}</if>
            <if test="inBoundDate != null "> and a.in_bound_date = #{inBoundDate}</if>
            <if test="shippingDate != null "> and a.shipping_date = #{shippingDate}</if>
            <if test="postProcessDate != null "> and a.post_process_date = #{postProcessDate}</if>
            <if test="dueDate != null "> and a.due_date = #{dueDate}</if>
            <if test="planStatus != null  and planStatus != ''"> and a.plan_status = #{planStatus}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and a.audit_status = #{auditStatus}</if>
            <if test="auditBy != null  and auditBy != ''"> and a.audit_by = #{auditBy}</if>
            <if test="auditTime != null "> and a.audit_time = #{auditTime}</if>
            <if test="preProduceType != null  and preProduceType != ''"> and a.pre_produce_type = #{preProduceType}</if>
            <if test="preInFactory != null  and preInFactory != ''"> and a.pre_in_factory = #{preInFactory}</if>
            <if test="preOutFactory != null  and preOutFactory != ''"> and a.pre_out_factory = #{preOutFactory}</if>
            <if test="preOutDate != null "> and a.pre_out_date = #{preOutDate}</if>
            <if test="postProduceType != null  and postProduceType != ''"> and a.post_produce_type = #{postProduceType}</if>
            <if test="postInFactory != null  and postInFactory != ''"> and a.post_in_factory = #{postInFactory}</if>
            <if test="postOutFactory != null  and postOutFactory != ''"> and a.post_out_factory = #{postOutFactory}</if>
            <if test="postOutDate != null "> and a.post_out_date = #{postOutDate}</if>
        </where>
    </select>

    <select id="selectProducePlanById" parameterType="Long" resultMap="ProducePlanResult">
        <include refid="selectProducePlanVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertProducePlan" parameterType="ProducePlan" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_produce_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">sales_order_id,</if>
            <if test="noticeId != null">notice_id,</if>
            <if test="techId != null">tech_id,</if>
            <if test="planNo != null">plan_no,</if>
            <if test="salesId != null">sales_id,</if>
            <if test="startDate != null">start_date,</if>
            <if test="pickedDate != null">picked_date,</if>
            <if test="completeDate != null">complete_date,</if>
            <if test="materialArrivalDate != null">material_arrival_date,</if>
            <if test="upDate != null">up_date,</if>
            <if test="downDate != null">down_date,</if>
            <if test="produceType != null">produce_type,</if>
            <if test="inFactory != null">in_factory,</if>
            <if test="outFactory != null">out_factory,</if>
            <if test="outDate != null">out_date,</if>
            <if test="preProcessDate != null">pre_process_date,</if>
            <if test="inspectionDate != null">inspection_date,</if>
            <if test="inspectionCorp != null">inspection_corp,</if>
            <if test="inBoundDate != null">in_bound_date,</if>
            <if test="shippingDate != null">shipping_date,</if>
            <if test="postProcessDate != null">post_process_date,</if>
            <if test="dueDate != null">due_date,</if>
            <if test="planStatus != null">plan_status,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditBy != null">audit_by,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="preProduceType != null">pre_produce_type,</if>
            <if test="preInFactory != null">pre_in_factory,</if>
            <if test="preOutFactory != null">pre_out_factory,</if>
            <if test="preOutDate != null">pre_out_date,</if>
            <if test="postProduceType != null">post_produce_type,</if>
            <if test="postInFactory != null">post_in_factory,</if>
            <if test="postOutFactory != null">post_out_factory,</if>
            <if test="postOutDate != null">post_out_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">#{salesOrderId},</if>
            <if test="noticeId != null">#{noticeId},</if>
            <if test="techId != null">#{techId},</if>
            <if test="planNo != null">#{planNo},</if>
            <if test="salesId != null">#{salesId},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="pickedDate != null">#{pickedDate},</if>
            <if test="completeDate != null">#{completeDate},</if>
            <if test="materialArrivalDate != null">#{materialArrivalDate},</if>
            <if test="upDate != null">#{upDate},</if>
            <if test="downDate != null">#{downDate},</if>
            <if test="produceType != null">#{produceType},</if>
            <if test="inFactory != null">#{inFactory},</if>
            <if test="outFactory != null">#{outFactory},</if>
            <if test="outDate != null">#{outDate},</if>
            <if test="preProcessDate != null">#{preProcessDate},</if>
            <if test="inspectionDate != null">#{inspectionDate},</if>
            <if test="inspectionCorp != null">#{inspectionCorp},</if>
            <if test="inBoundDate != null">#{inBoundDate},</if>
            <if test="shippingDate != null">#{shippingDate},</if>
            <if test="postProcessDate != null">#{postProcessDate},</if>
            <if test="dueDate != null">#{dueDate},</if>
            <if test="planStatus != null">#{planStatus},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditBy != null">#{auditBy},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="preProduceType != null">#{preProduceType},</if>
            <if test="preInFactory != null">#{preInFactory},</if>
            <if test="preOutFactory != null">#{preOutFactory},</if>
            <if test="preOutDate != null">#{preOutDate},</if>
            <if test="postProduceType != null">#{postProduceType},</if>
            <if test="postInFactory != null">#{postInFactory},</if>
            <if test="postOutFactory != null">#{postOutFactory},</if>
            <if test="postOutDate != null">#{postOutDate},</if>
         </trim>
    </insert>

    <update id="updateProducePlan" parameterType="ProducePlan">
        update t_erp_produce_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="salesOrderId != null">sales_order_id = #{salesOrderId},</if>
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="techId != null">tech_id = #{techId},</if>
            <if test="planNo != null">plan_no = #{planNo},</if>
            <if test="salesId != null">sales_id = #{salesId},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="pickedDate != null">picked_date = #{pickedDate},</if>
            <if test="completeDate != null">complete_date = #{completeDate},</if>
            <if test="materialArrivalDate != null">material_arrival_date = #{materialArrivalDate},</if>
            <if test="upDate != null">up_date = #{upDate},</if>
            <if test="downDate != null">down_date = #{downDate},</if>
            <if test="produceType != null">produce_type = #{produceType},</if>
            <if test="inFactory != null">in_factory = #{inFactory},</if>
            <if test="outFactory != null">out_factory = #{outFactory},</if>
            <if test="outDate != null">out_date = #{outDate},</if>
            <if test="preProcessDate != null">pre_process_date = #{preProcessDate},</if>
            <if test="inspectionDate != null">inspection_date = #{inspectionDate},</if>
            <if test="inspectionCorp != null">inspection_corp = #{inspectionCorp},</if>
            <if test="inBoundDate != null">in_bound_date = #{inBoundDate},</if>
            <if test="shippingDate != null">shipping_date = #{shippingDate},</if>
            <if test="postProcessDate != null">post_process_date = #{postProcessDate},</if>
            <if test="dueDate != null">due_date = #{dueDate},</if>
            <if test="planStatus != null">plan_status = #{planStatus},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="preProduceType != null">pre_produce_type = #{preProduceType},</if>
            <if test="preInFactory != null">pre_in_factory = #{preInFactory},</if>
            <if test="preOutFactory != null">pre_out_factory = #{preOutFactory},</if>
            <if test="preOutDate != null">pre_out_date = #{preOutDate},</if>
            <if test="postProduceType != null">post_produce_type = #{postProduceType},</if>
            <if test="postInFactory != null">post_in_factory = #{postInFactory},</if>
            <if test="postOutFactory != null">post_out_factory = #{postOutFactory},</if>
            <if test="postOutDate != null">post_out_date = #{postOutDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProducePlanById" parameterType="Long">
        delete from t_erp_produce_plan where id = #{id}
    </delete>

    <delete id="deleteProducePlanByIds" parameterType="String">
        delete from t_erp_produce_plan where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertProducePlanBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_produce_plan
        (id,sales_order_id,notice_id,tech_id,plan_no,sales_id,start_date,picked_date,complete_date,material_arrival_date,up_date,down_date,produce_type,in_factory,out_factory,out_date,pre_process_date,inspection_date,inspection_corp,in_bound_date,shipping_date,post_process_date,due_date,plan_status,audit_status,audit_by,audit_time,create_by,create_time,update_by,update_time,remark,pre_produce_type,pre_in_factory,pre_out_factory,pre_out_date,post_produce_type,post_in_factory,post_out_factory,post_out_date,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.salesOrderId},#{item.noticeId},#{item.techId},#{item.planNo},#{item.salesId},#{item.startDate},#{item.pickedDate},#{item.completeDate},#{item.materialArrivalDate},#{item.upDate},#{item.downDate},#{item.produceType},#{item.inFactory},#{item.outFactory},#{item.outDate},#{item.preProcessDate},#{item.inspectionDate},#{item.inspectionCorp},#{item.inBoundDate},#{item.shippingDate},#{item.postProcessDate},#{item.dueDate},#{item.planStatus},#{item.auditStatus},#{item.auditBy},#{item.auditTime},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},#{item.preProduceType},#{item.preInFactory},#{item.preOutFactory},#{item.preOutDate},#{item.postProduceType},#{item.postInFactory},#{item.postOutFactory},#{item.postOutDate},)

        </foreach>
    </insert>

</mapper>
