<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.StockOutMapper">

    <resultMap type="StockOut" id="StockOutResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="outDate"    column="out_date"    />
        <result property="outType"    column="out_type"    />
        <result property="chargeUserId"    column="charge_user_id"    />
        <result property="confirmStatus"    column="confirm_status"    />
        <result property="purchaseId"    column="purchase_id"    />
        <result property="purchaseSn"    column="purchase_sn"    />
        <result property="planId"    column="plan_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockOutVo">
        select a.id, a.sn, a.out_date, a.out_type, a.charge_user_id, a.confirm_status, a.purchase_id, a.purchase_sn, a.plan_id, a.remark, a.create_by, a.create_time, a.update_by, a.update_time
        from t_erp_stock_out a
    </sql>

    <select id="selectStockOutList" parameterType="StockOut" resultMap="StockOutResult">
        <include refid="selectStockOutVo"/>
        <where>
            <if test="sn != null  and sn != ''"> and a.sn = #{sn}</if>
            <if test="outDate != null "> and a.out_date = #{outDate}</if>
            <if test="outType != null "> and a.out_type = #{outType}</if>
            <if test="chargeUserId != null "> and a.charge_user_id = #{chargeUserId}</if>
            <if test="confirmStatus != null  and confirmStatus != ''"> and a.confirm_status = #{confirmStatus}</if>
            <if test="purchaseId != null "> and a.purchase_id = #{purchaseId}</if>
            <if test="purchaseSn != null  and purchaseSn != ''"> and a.purchase_sn = #{purchaseSn}</if>
            <if test="planId != null "> and a.plan_id = #{planId}</if>
        </where>
    </select>

    <select id="selectStockOutById" parameterType="Long" resultMap="StockOutResult">
        <include refid="selectStockOutVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertStockOut" parameterType="StockOut" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_stock_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sn != null">sn,</if>
            <if test="outDate != null">out_date,</if>
            <if test="outType != null">out_type,</if>
            <if test="chargeUserId != null">charge_user_id,</if>
            <if test="confirmStatus != null">confirm_status,</if>
            <if test="purchaseId != null">purchase_id,</if>
            <if test="purchaseSn != null">purchase_sn,</if>
            <if test="planId != null">plan_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sn != null">#{sn},</if>
            <if test="outDate != null">#{outDate},</if>
            <if test="outType != null">#{outType},</if>
            <if test="chargeUserId != null">#{chargeUserId},</if>
            <if test="confirmStatus != null">#{confirmStatus},</if>
            <if test="purchaseId != null">#{purchaseId},</if>
            <if test="purchaseSn != null">#{purchaseSn},</if>
            <if test="planId != null">#{planId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockOut" parameterType="StockOut">
        update t_erp_stock_out
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null">sn = #{sn},</if>
            <if test="outDate != null">out_date = #{outDate},</if>
            <if test="outType != null">out_type = #{outType},</if>
            <if test="chargeUserId != null">charge_user_id = #{chargeUserId},</if>
            <if test="confirmStatus != null">confirm_status = #{confirmStatus},</if>
            <if test="purchaseId != null">purchase_id = #{purchaseId},</if>
            <if test="purchaseSn != null">purchase_sn = #{purchaseSn},</if>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockOutById" parameterType="Long">
        delete from t_erp_stock_out where id = #{id}
    </delete>

    <delete id="deleteStockOutByIds" parameterType="String">
        delete from t_erp_stock_out where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertStockOutBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_stock_out
        (id,sn,out_date,out_type,charge_user_id,confirm_status,purchase_id,purchase_sn,plan_id,remark,create_by,create_time,update_by,update_time,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.sn},#{item.outDate},#{item.outType},#{item.chargeUserId},#{item.confirmStatus},#{item.purchaseId},#{item.purchaseSn},#{item.planId},#{item.remark},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},)

        </foreach>
    </insert>

</mapper>
