<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.CustomerTemplateMaterialMapper">

    <resultMap type="CustomerTemplateMaterial" id="CustomerTemplateMaterialResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="templateId"    column="template_id"    />
        <result property="propertyOrder"    column="property_order"    />
        <result property="propertyValue"    column="property_value"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCustomerTemplateMaterialVo">
        select a.id, a.customer_id, a.template_id, a.property_order, a.property_value, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_customer_template_material a
    </sql>

    <select id="selectCustomerTemplateMaterialList" parameterType="CustomerTemplateMaterial" resultMap="CustomerTemplateMaterialResult">
        <include refid="selectCustomerTemplateMaterialVo"/>
        <where>
            <if test="customerId != null "> and a.customer_id = #{customerId}</if>
            <if test="templateId != null "> and a.template_id = #{templateId}</if>
            <if test="propertyOrder != null "> and a.property_order = #{propertyOrder}</if>
            <if test="propertyValue != null  and propertyValue != ''"> and a.property_value = #{propertyValue}</if>
        </where>
    </select>

    <select id="selectCustomerTemplateMaterialById" parameterType="Long" resultMap="CustomerTemplateMaterialResult">
        <include refid="selectCustomerTemplateMaterialVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertCustomerTemplateMaterial" parameterType="CustomerTemplateMaterial" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_customer_template_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="templateId != null">template_id,</if>
            <if test="propertyOrder != null">property_order,</if>
            <if test="propertyValue != null">property_value,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="propertyOrder != null">#{propertyOrder},</if>
            <if test="propertyValue != null">#{propertyValue},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCustomerTemplateMaterial" parameterType="CustomerTemplateMaterial">
        update t_erp_customer_template_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="propertyOrder != null">property_order = #{propertyOrder},</if>
            <if test="propertyValue != null">property_value = #{propertyValue},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerTemplateMaterialById" parameterType="Long">
        delete from t_erp_customer_template_material where id = #{id}
    </delete>

    <delete id="deleteCustomerTemplateMaterialByIds" parameterType="String">
        delete from t_erp_customer_template_material where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertCustomerTemplateMaterialBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_customer_template_material
        (id,customer_id,template_id,property_order,property_value,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.customerId},#{item.templateId},#{item.propertyOrder},#{item.propertyValue},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
