<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.StockLogMapper">

    <resultMap type="StockLog" id="StockLogResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="relationId"    column="relation_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialNo"    column="material_no"    />
        <result property="name"    column="name"    />
        <result property="inOut"    column="in_out"    />
        <result property="count"    column="count"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="warehouseAreaId"    column="warehouse_area_id"    />
        <result property="warehouseLocationId"    column="warehouse_location_id"    />
        <result property="saveLocation"    column="save_location"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockLogVo">
        select a.id, a.sn, a.relation_id, a.material_id, a.material_type, a.material_no, a.name, a.in_out, a.count, a.warehouse_id, a.warehouse_area_id, a.warehouse_location_id, a.save_location, a.create_by, a.create_time, a.update_by, a.update_time
        from t_erp_stock_log a
    </sql>

    <select id="selectStockLogList" parameterType="StockLog" resultMap="StockLogResult">
        <include refid="selectStockLogVo"/>
        <where>
            <if test="sn != null  and sn != ''"> and a.sn = #{sn}</if>
            <if test="materialType != null  and materialType != ''"> and a.material_type = #{materialType}</if>
            <if test="materialNo != null  and materialNo != ''"> and a.material_no = #{materialNo}</if>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="inOut != null "> and a.in_out = #{inOut}</if>
            <if test="count != null "> and a.count = #{count}</if>
        </where>
    </select>

    <select id="selectStockLogById" parameterType="Long" resultMap="StockLogResult">
        <include refid="selectStockLogVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertStockLog" parameterType="StockLog">
        insert into t_erp_stock_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sn != null">sn,</if>
            <if test="relationId != null">relation_id,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialType != null">material_type,</if>
            <if test="materialNo != null and materialNo != ''">material_no,</if>
            <if test="name != null">name,</if>
            <if test="inOut != null">in_out,</if>
            <if test="count != null">count,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="warehouseAreaId != null">warehouse_area_id,</if>
            <if test="warehouseLocationId != null">warehouse_location_id,</if>
            <if test="saveLocation != null">save_location,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="sn != null">#{sn},</if>
            <if test="relationId != null">#{relationId},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="materialNo != null and materialNo != ''">#{materialNo},</if>
            <if test="name != null">#{name},</if>
            <if test="inOut != null">#{inOut},</if>
            <if test="count != null">#{count},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="warehouseAreaId != null">#{warehouseAreaId},</if>
            <if test="warehouseLocationId != null">#{warehouseLocationId},</if>
            <if test="saveLocation != null">#{saveLocation},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockLog" parameterType="StockLog">
        update t_erp_stock_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null">sn = #{sn},</if>
            <if test="relationId != null">relation_id = #{relationId},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="materialNo != null and materialNo != ''">material_no = #{materialNo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="inOut != null">in_out = #{inOut},</if>
            <if test="count != null">count = #{count},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="warehouseAreaId != null">warehouse_area_id = #{warehouseAreaId},</if>
            <if test="warehouseLocationId != null">warehouse_location_id = #{warehouseLocationId},</if>
            <if test="saveLocation != null">save_location = #{saveLocation},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockLogById" parameterType="Long">
        delete from t_erp_stock_log where id = #{id}
    </delete>

    <delete id="deleteStockLogByIds" parameterType="String">
        delete from t_erp_stock_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertStockLogBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_stock_log
        (id,sn,relation_id,material_id,material_type,material_no,name,in_out,count,warehouse_id,warehouse_area_id,warehouse_location_id,save_location,create_by,create_time,update_by,update_time,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.sn},#{item.relationId},#{item.materialId},#{item.materialType},#{item.materialNo},#{item.name},#{item.inOut},#{item.count},#{item.warehouseId},#{item.warehouseAreaId},#{item.warehouseLocationId},#{item.saveLocation},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},)

        </foreach>
    </insert>

</mapper>
