<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.AuxiliaryMaterialMapper">

    <resultMap type="AuxiliaryMaterial" id="AuxiliaryMaterialResult">
        <result property="id"    column="id"    />
        <result property="auxiliaryMaterialType"    column="auxiliary_material_type"    />
        <result property="auxiliaryMaterialNo"    column="auxiliary_material_no"    />
        <result property="supplyMethod"    column="supply_method"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="name"    column="name"    />
        <result property="substance"    column="substance"    />
        <result property="size"    column="size"    />
        <result property="unit"    column="unit"    />
        <result property="pictureUrl"    column="picture_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAuxiliaryMaterialVo">
        select a.id, a.auxiliary_material_type, a.auxiliary_material_no, a.supply_method, a.supplier_id, 
               s.supplier_name, a.name, a.substance, a.size, a.unit, a.picture_url, 
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_auxiliary_material a
        left join t_erp_supplier s on a.supplier_id = s.id
    </sql>

    <select id="selectAuxiliaryMaterialList" parameterType="AuxiliaryMaterial" resultMap="AuxiliaryMaterialResult">
        <include refid="selectAuxiliaryMaterialVo"/>
        <where>
            <if test="auxiliaryMaterialType != null  and auxiliaryMaterialType != ''"> and a.auxiliary_material_type = #{auxiliaryMaterialType}</if>
            <if test="auxiliaryMaterialNo != null  and auxiliaryMaterialNo != ''"> and a.auxiliary_material_no = #{auxiliaryMaterialNo}</if>
            <if test="supplierId != null "> and a.supplier_id = #{supplierId}</if>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectAuxiliaryMaterialById" parameterType="Long" resultMap="AuxiliaryMaterialResult">
        <include refid="selectAuxiliaryMaterialVo"/>
        where a.id = #{id}
    </select>

    <select id="selectAuxiliaryMaterialByNo" parameterType="String" resultMap="AuxiliaryMaterialResult">
        <include refid="selectAuxiliaryMaterialVo"/>
        where a.auxiliary_material_no = #{auxiliaryMaterialNo}
    </select>

    <insert id="insertAuxiliaryMaterial" parameterType="AuxiliaryMaterial" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_auxiliary_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="auxiliaryMaterialType != null">auxiliary_material_type,</if>
            <if test="auxiliaryMaterialNo != null">auxiliary_material_no,</if>
            <if test="supplyMethod != null">supply_method,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="name != null">name,</if>
            <if test="substance != null">substance,</if>
            <if test="size != null">size,</if>
            <if test="unit != null">unit,</if>
            <if test="pictureUrl != null">picture_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="auxiliaryMaterialType != null">#{auxiliaryMaterialType},</if>
            <if test="auxiliaryMaterialNo != null">#{auxiliaryMaterialNo},</if>
            <if test="supplyMethod != null">#{supplyMethod},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="name != null">#{name},</if>
            <if test="substance != null">#{substance},</if>
            <if test="size != null">#{size},</if>
            <if test="unit != null">#{unit},</if>
            <if test="pictureUrl != null">#{pictureUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAuxiliaryMaterial" parameterType="AuxiliaryMaterial">
        update t_erp_auxiliary_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="auxiliaryMaterialType != null">auxiliary_material_type = #{auxiliaryMaterialType},</if>
            <if test="auxiliaryMaterialNo != null">auxiliary_material_no = #{auxiliaryMaterialNo},</if>
            <if test="supplyMethod != null">supply_method = #{supplyMethod},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="substance != null">substance = #{substance},</if>
            <if test="size != null">size = #{size},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="pictureUrl != null">picture_url = #{pictureUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAuxiliaryMaterialById" parameterType="Long">
        delete from t_erp_auxiliary_material where id = #{id}
    </delete>

    <delete id="deleteAuxiliaryMaterialByIds" parameterType="String">
        delete from t_erp_auxiliary_material where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertAuxiliaryMaterialBatch" parameterType="java.util.List">
        REPLACE INTO t_erp_auxiliary_material
        (id,auxiliary_material_type,auxiliary_material_no,supply_method,supplier_id,name,substance,size,unit,picture_url,create_by,create_time,update_by,update_time,remark)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.auxiliaryMaterialType},#{item.auxiliaryMaterialNo},#{item.supplyMethod},#{item.supplierId},#{item.name},#{item.substance},#{item.size},#{item.unit},#{item.pictureUrl},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark})
        </foreach>
    </insert>

    <insert id="insertAuxiliaryMaterialSafe" parameterType="AuxiliaryMaterial" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO t_erp_auxiliary_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="auxiliaryMaterialType != null">auxiliary_material_type,</if>
            <if test="auxiliaryMaterialNo != null">auxiliary_material_no,</if>
            <if test="supplyMethod != null">supply_method,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="name != null">name,</if>
            <if test="substance != null">substance,</if>
            <if test="size != null">size,</if>
            <if test="unit != null">unit,</if>
            <if test="pictureUrl != null">picture_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="auxiliaryMaterialType != null">#{auxiliaryMaterialType},</if>
            <if test="auxiliaryMaterialNo != null">#{auxiliaryMaterialNo},</if>
            <if test="supplyMethod != null">#{supplyMethod},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="name != null">#{name},</if>
            <if test="substance != null">#{substance},</if>
            <if test="size != null">#{size},</if>
            <if test="unit != null">#{unit},</if>
            <if test="pictureUrl != null">#{pictureUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <insert id="insertAuxiliaryMaterialBatchSafe" parameterType="java.util.List">
        INSERT IGNORE INTO t_erp_auxiliary_material
        (auxiliary_material_type,auxiliary_material_no,supply_method,supplier_id,name,substance,size,unit,picture_url,create_by,create_time,update_by,update_time,remark)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.auxiliaryMaterialType},#{item.auxiliaryMaterialNo},#{item.supplyMethod},#{item.supplierId},#{item.name},#{item.substance},#{item.size},#{item.unit},#{item.pictureUrl},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark})
        </foreach>
    </insert>

</mapper>
