<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.CustomerTemplateMapper">

    <resultMap type="CustomerTemplate" id="CustomerTemplateResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="styleId"    column="style_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCustomerTemplateVo">
        select a.id, a.customer_id, a.style_id, a.template_name, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_customer_template a
    </sql>

    <select id="selectCustomerTemplateList" parameterType="CustomerTemplate" resultMap="CustomerTemplateResult">
        <include refid="selectCustomerTemplateVo"/>
        <where>
            <if test="customerId != null "> and a.customer_id = #{customerId}</if>
            <if test="styleId != null  and styleId != ''"> and a.style_id = #{styleId}</if>
            <if test="templateName != null  and templateName != ''"> and a.template_name like concat('%', #{templateName}, '%')</if>
        </where>
    </select>

    <select id="selectCustomerTemplateById" parameterType="Long" resultMap="CustomerTemplateResult">
        <include refid="selectCustomerTemplateVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertCustomerTemplate" parameterType="CustomerTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_customer_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="styleId != null">style_id,</if>
            <if test="templateName != null">template_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="styleId != null">#{styleId},</if>
            <if test="templateName != null">#{templateName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCustomerTemplate" parameterType="CustomerTemplate">
        update t_erp_customer_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="styleId != null">style_id = #{styleId},</if>
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerTemplateById" parameterType="Long">
        delete from t_erp_customer_template where id = #{id}
    </delete>

    <delete id="deleteCustomerTemplateByIds" parameterType="String">
        delete from t_erp_customer_template where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertCustomerTemplateBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_customer_template
        (id,customer_id,style_id,template_name,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.customerId},#{item.styleId},#{item.templateName},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
