<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.CustomerMapper">

    <resultMap type="Customer" id="CustomerResult">
        <result property="id"    column="id"    />
        <result property="customerNo"    column="customer_no"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerBrief"    column="customer_brief"    />
        <result property="nationality"    column="nationality"    />
        <result property="businessScope"    column="business_scope"    />
        <result property="salesId"    column="sales_id"    />
        <result property="isJapanOrder"              column="is_japan_order"               />
        <result property="requireInspection"         column="require_inspection"           />
        <result property="aqlLevel"                  column="aql_level"                    />
        <result property="needleDetectReq"           column="needle_detect_req"            />
        <result property="blockShipmentWithoutRelease" column="block_shipment_without_release" />
        <result property="inspectionLeadDays"        column="inspection_lead_days"         />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCustomerVo">
        select a.id, a.customer_no, a.customer_name, a.customer_brief, a.nationality, a.business_scope, a.sales_id,
               a.is_japan_order, a.require_inspection, a.aql_level, a.needle_detect_req,
               a.block_shipment_without_release, a.inspection_lead_days,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_customer a
    </sql>

    <select id="selectCustomerList" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>
            <if test="customerNo != null  and customerNo != ''"> and a.customer_no = #{customerNo}</if>
            <if test="customerName != null  and customerName != ''"> and a.customer_name like concat('%', #{customerName}, '%')</if>
            <if test="customerBrief != null  and customerBrief != ''"> and a.customer_brief like concat('%', #{customerBrief}, '%')</if>
            <if test="nationality != null  and nationality != ''"> and a.nationality = #{nationality}</if>
        </where>
    </select>

    <select id="selectCustomerById" parameterType="Long" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where a.id = #{id}
    </select>

    <select id="selectCustomerByNo" parameterType="String" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where a.customer_no = #{customerNo}
    </select>

    <select id="selectMaxCustomerNo" resultType="Integer">
        select MAX(CAST(customer_no AS UNSIGNED)) from t_erp_customer
    </select>

    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerNo != null">customer_no,</if>
            <if test="customerName != null">customer_name,</if>
            <if test="customerBrief != null">customer_brief,</if>
            <if test="nationality != null">nationality,</if>
            <if test="businessScope != null">business_scope,</if>
            <if test="salesId != null">sales_id,</if>
            <if test="isJapanOrder != null">is_japan_order,</if>
            <if test="requireInspection != null">require_inspection,</if>
            <if test="aqlLevel != null">aql_level,</if>
            <if test="needleDetectReq != null">needle_detect_req,</if>
            <if test="blockShipmentWithoutRelease != null">block_shipment_without_release,</if>
            <if test="inspectionLeadDays != null">inspection_lead_days,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerNo != null">#{customerNo},</if>
            <if test="customerName != null">#{customerName},</if>
            <if test="customerBrief != null">#{customerBrief},</if>
            <if test="nationality != null">#{nationality},</if>
            <if test="businessScope != null">#{businessScope},</if>
            <if test="salesId != null">#{salesId},</if>
            <if test="isJapanOrder != null">#{isJapanOrder},</if>
            <if test="requireInspection != null">#{requireInspection},</if>
            <if test="aqlLevel != null">#{aqlLevel},</if>
            <if test="needleDetectReq != null">#{needleDetectReq},</if>
            <if test="blockShipmentWithoutRelease != null">#{blockShipmentWithoutRelease},</if>
            <if test="inspectionLeadDays != null">#{inspectionLeadDays},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCustomer" parameterType="Customer">
        update t_erp_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerNo != null">customer_no = #{customerNo},</if>
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="customerBrief != null">customer_brief = #{customerBrief},</if>
            <if test="nationality != null">nationality = #{nationality},</if>
            <if test="businessScope != null">business_scope = #{businessScope},</if>
            <if test="salesId != null">sales_id = #{salesId},</if>
            <if test="isJapanOrder != null">is_japan_order = #{isJapanOrder},</if>
            <if test="requireInspection != null">require_inspection = #{requireInspection},</if>
            <if test="aqlLevel != null">aql_level = #{aqlLevel},</if>
            <if test="needleDetectReq != null">needle_detect_req = #{needleDetectReq},</if>
            <if test="blockShipmentWithoutRelease != null">block_shipment_without_release = #{blockShipmentWithoutRelease},</if>
            <if test="inspectionLeadDays != null">inspection_lead_days = #{inspectionLeadDays},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerById" parameterType="Long">
        delete from t_erp_customer where id = #{id}
    </delete>

    <delete id="deleteCustomerByIds" parameterType="String">
        delete from t_erp_customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertCustomerBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_customer
        (id,customer_no,customer_name,customer_brief,nationality,business_scope,sales_id,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.customerNo},#{item.customerName},#{item.customerBrief},#{item.nationality},#{item.businessScope},#{item.salesId},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

</mapper>
