<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.ProcessPriceMapper">

    <resultMap type="ProcessPrice" id="ProcessPriceResult">
        <result property="id"    column="id"    />
        <result property="processId"    column="process_id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="price"    column="price"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="expireDate"    column="expire_date"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProcessPriceVo">
        select a.id, a.process_id, a.employee_id, a.price, a.effective_date, a.expire_date, a.status, a.remark, a.create_by, a.create_time, a.update_by, a.update_time
        from t_erp_process_price a
    </sql>

    <select id="selectProcessPriceList" parameterType="ProcessPrice" resultMap="ProcessPriceResult">
        <include refid="selectProcessPriceVo"/>
        <where>
            <if test="processId != null"> and a.process_id = #{processId}</if>
            <if test="employeeId != null"> and a.employee_id = #{employeeId}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
        </where>
        order by a.effective_date desc
    </select>

    <select id="selectProcessPriceById" parameterType="Long" resultMap="ProcessPriceResult">
        <include refid="selectProcessPriceVo"/>
        where a.id = #{id}
    </select>

    <select id="selectCurrentPrice" resultMap="ProcessPriceResult">
        <include refid="selectProcessPriceVo"/>
        where a.process_id = #{processId}
        <if test="employeeId != null"> and a.employee_id = #{employeeId}</if>
        and a.status = '0'
        and (a.expireDate is null or a.expireDate >= current_date)
        order by a.effective_date desc
        limit 1
    </select>

    <insert id="insertProcessPrice" parameterType="ProcessPrice" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_process_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processId != null">process_id,</if>
            <if test="employeeId != null">employee_id,</if>
            <if test="price != null">price,</if>
            <if test="effectiveDate != null">effective_date,</if>
            <if test="expireDate != null">expire_date,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processId != null">#{processId},</if>
            <if test="employeeId != null">#{employeeId},</if>
            <if test="price != null">#{price},</if>
            <if test="effectiveDate != null">#{effectiveDate},</if>
            <if test="expireDate != null">#{expireDate},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProcessPrice" parameterType="ProcessPrice">
        update t_erp_process_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="processId != null">process_id = #{processId},</if>
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="effectiveDate != null">effective_date = #{effectiveDate},</if>
            <if test="expireDate != null">expire_date = #{expireDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProcessPriceById" parameterType="Long">
        delete from t_erp_process_price where id = #{id}
    </delete>

    <delete id="deleteProcessPriceByIds" parameterType="Long">
        delete from t_erp_process_price where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
