<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.SalesOrderItemMapper">

    <resultMap type="SalesOrderItem" id="SalesOrderItemResult">
        <result property="id"    column="id"    />
        <result property="salesOrderId"    column="sales_order_id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="techId"    column="tech_id"    />
        <result property="color"    column="color"    />
        <result property="size"    column="size"    />
        <result property="orderQuantity"    column="order_quantity"    />
        <result property="planQuantity"    column="plan_quantity"    />
        <result property="executeQty"    column="execute_qty"    />
        <result property="inboundAmount"    column="inbound_amount"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSalesOrderItemVo">
        select a.id, a.sales_order_id, a.notice_id, a.tech_id, a.color, a.size, a.order_quantity, a.plan_quantity, a.execute_qty, a.inbound_amount, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from t_erp_sales_order_item a
    </sql>

    <select id="selectSalesOrderItemList" parameterType="SalesOrderItem" resultMap="SalesOrderItemResult">
        <include refid="selectSalesOrderItemVo"/>
        <where>
        </where>
    </select>

    <select id="selectSalesOrderItemById" parameterType="Long" resultMap="SalesOrderItemResult">
        <include refid="selectSalesOrderItemVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSalesOrderItem" parameterType="SalesOrderItem" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_sales_order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">sales_order_id,</if>
            <if test="noticeId != null">notice_id,</if>
            <if test="techId != null">tech_id,</if>
            <if test="color != null">color,</if>
            <if test="size != null">size,</if>
            <if test="orderQuantity != null">order_quantity,</if>
            <if test="planQuantity != null">plan_quantity,</if>
            <if test="inboundAmount != null">inbound_amount,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">#{salesOrderId},</if>
            <if test="noticeId != null">#{noticeId},</if>
            <if test="techId != null">#{techId},</if>
            <if test="color != null">#{color},</if>
            <if test="size != null">#{size},</if>
            <if test="orderQuantity != null">#{orderQuantity},</if>
            <if test="planQuantity != null">#{planQuantity},</if>
            <if test="inboundAmount != null">#{inboundAmount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSalesOrderItem" parameterType="SalesOrderItem">
        update t_erp_sales_order_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="salesOrderId != null">sales_order_id = #{salesOrderId},</if>
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="techId != null">tech_id = #{techId},</if>
            <if test="color != null">color = #{color},</if>
            <if test="size != null">size = #{size},</if>
            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="planQuantity != null">plan_quantity = #{planQuantity},</if>
            <if test="inboundAmount != null">inbound_amount = #{inboundAmount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSalesOrderItemById" parameterType="Long">
        delete from t_erp_sales_order_item where id = #{id}
    </delete>

    <delete id="deleteSalesOrderItemByIds" parameterType="String">
        delete from t_erp_sales_order_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertSalesOrderItemBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_sales_order_item
        (id,sales_order_id,notice_id,tech_id,color,size,order_quantity,plan_quantity,inbound_amount,create_by,create_time,update_by,update_time,remark,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.salesOrderId},#{item.noticeId},#{item.techId},#{item.color},#{item.size},#{item.orderQuantity},#{item.planQuantity},#{item.inboundAmount},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},)

        </foreach>
    </insert>

    <select id="selectSalesOrderItemBySalesOrderId" parameterType="Long" resultMap="SalesOrderItemResult">
        <include refid="selectSalesOrderItemVo"/>
        where a.sales_order_id = #{salesOrderId}
    </select>

</mapper>
