<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.StockInItemMapper">

    <resultMap type="StockInItem" id="StockInItemResult">
        <result property="id"    column="id"    />
        <result property="inId"    column="in_id"    />
        <result property="sn"    column="sn"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialType"    column="material_type"    />
        <result property="purchasePrice"    column="purchase_price"    />
        <result property="price"    column="price"    />
        <result property="count"    column="count"    />
        <result property="birthingTime"    column="birthing_time"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="warehouseAreaId"    column="warehouse_area_id"    />
        <result property="warehouseLocationId"    column="warehouse_location_id"    />
        <result property="saveLocation"    column="save_location"    />
        <result property="inTotalPrice"    column="in_total_price"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockInItemVo">
        select a.id, a.in_id, a.sn, a.material_id, a.material_type, a.purchase_price, a.price, a.count, a.birthing_time, a.warehouse_id, a.warehouse_area_id, a.warehouse_location_id, a.save_location, a.in_total_price, a.create_by, a.create_time, a.update_by, a.update_time
        from t_erp_stock_in_item a
    </sql>

    <select id="selectStockInItemList" parameterType="StockInItem" resultMap="StockInItemResult">
        <include refid="selectStockInItemVo"/>
        <where>
            <if test="inId != null "> and a.in_id = #{inId}</if>
            <if test="sn != null  and sn != ''"> and a.sn = #{sn}</if>
            <if test="materialId != null "> and a.material_id = #{materialId}</if>
            <if test="materialType != null  and materialType != ''"> and a.material_type = #{materialType}</if>
            <if test="warehouseId != null "> and a.warehouse_id = #{warehouseId}</if>
            <if test="warehouseAreaId != null "> and a.warehouse_area_id = #{warehouseAreaId}</if>
        </where>
    </select>

    <select id="selectStockInItemById" parameterType="Long" resultMap="StockInItemResult">
        <include refid="selectStockInItemVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertStockInItem" parameterType="StockInItem" useGeneratedKeys="true" keyProperty="id">
        insert into t_erp_stock_in_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inId != null">in_id,</if>
            <if test="sn != null">sn,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialType != null">material_type,</if>
            <if test="purchasePrice != null">purchase_price,</if>
            <if test="price != null">price,</if>
            <if test="count != null">count,</if>
            <if test="birthingTime != null">birthing_time,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="warehouseAreaId != null">warehouse_area_id,</if>
            <if test="warehouseLocationId != null">warehouse_location_id,</if>
            <if test="saveLocation != null">save_location,</if>
            <if test="inTotalPrice != null">in_total_price,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inId != null">#{inId},</if>
            <if test="sn != null">#{sn},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="purchasePrice != null">#{purchasePrice},</if>
            <if test="price != null">#{price},</if>
            <if test="count != null">#{count},</if>
            <if test="birthingTime != null">#{birthingTime},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="warehouseAreaId != null">#{warehouseAreaId},</if>
            <if test="warehouseLocationId != null">#{warehouseLocationId},</if>
            <if test="saveLocation != null">#{saveLocation},</if>
            <if test="inTotalPrice != null">#{inTotalPrice},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockInItem" parameterType="StockInItem">
        update t_erp_stock_in_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="inId != null">in_id = #{inId},</if>
            <if test="sn != null">sn = #{sn},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="price != null">price = #{price},</if>
            <if test="count != null">count = #{count},</if>
            <if test="birthingTime != null">birthing_time = #{birthingTime},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="warehouseAreaId != null">warehouse_area_id = #{warehouseAreaId},</if>
            <if test="warehouseLocationId != null">warehouse_location_id = #{warehouseLocationId},</if>
            <if test="saveLocation != null">save_location = #{saveLocation},</if>
            <if test="inTotalPrice != null">in_total_price = #{inTotalPrice},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockInItemById" parameterType="Long">
        delete from t_erp_stock_in_item where id = #{id}
    </delete>

    <delete id="deleteStockInItemByIds" parameterType="String">
        delete from t_erp_stock_in_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertStockInItemBatch" parameterType="java.util.List">

        REPLACE INTO t_erp_stock_in_item
        (id,in_id,sn,material_id,material_type,purchase_price,price,count,birthing_time,warehouse_id,warehouse_area_id,warehouse_location_id,save_location,in_total_price,create_by,create_time,update_by,update_time,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.inId},#{item.sn},#{item.materialId},#{item.materialType},#{item.purchasePrice},#{item.price},#{item.count},#{item.birthingTime},#{item.warehouseId},#{item.warehouseAreaId},#{item.warehouseLocationId},#{item.saveLocation},#{item.inTotalPrice},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},)

        </foreach>
    </insert>

    <select id="selectStockInItemByInId" parameterType="Long" resultMap="StockInItemResult">
        <include refid="selectStockInItemVo"/>
        where a.in_id = #{inId}
    </select>

</mapper>
