<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.common.mapper.SysDictMapper">

    <resultMap type="SysDict" id="SysDictResult">
        <result property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="parentIds" column="parent_ids" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="orderNum" column="order_num" />
        <result property="status" column="status" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectSysDictVo">
        select a.id, a.parent_id, a.parent_ids, a.name, a.type, a.order_num, a.status, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from sys_dict a
    </sql>

    <select id="selectSysDictList" parameterType="SysDict" resultMap="SysDictResult">
        <include refid="selectSysDictVo"/>
        <where>
            <if test="name != null and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="type != null and type != ''"> and a.type = #{type}</if>
        </where>
    </select>

    <select id="selectSysDictById" parameterType="Long" resultMap="SysDictResult">
        <include refid="selectSysDictVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSysDict" parameterType="SysDict" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="parentIds != null">parent_ids,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="parentIds != null">#{parentIds},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysDict" parameterType="SysDict">
        update sys_dict
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="parentIds != null">parent_ids = #{parentIds},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysDictById" parameterType="Long">
        delete from sys_dict where id = #{id}
    </delete>

    <delete id="deleteSysDictByIds" parameterType="String">
        delete from sys_dict where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertSysDictBatch" parameterType="java.util.List">
        REPLACE INTO sys_dict
        (id, parent_id, parent_ids, name, type, order_num, status, create_by, create_time, update_by, update_time, remark)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.parentId}, #{item.parentIds}, #{item.name}, #{item.type}, #{item.orderNum}, #{item.status}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

</mapper>
