<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.mapper.WxAccountMapper">

    <resultMap type="WxAccount" id="WxAccountResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="appid"    column="appid"    />
        <result property="appSecret"    column="app_secret"    />
        <result property="token"    column="token"    />
        <result property="aesKey"    column="aes_key"    />
        <result property="type"    column="type"    />
        <result property="open"    column="open"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWxAccountVo">
        select a.id, a.name, a.appid, a.app_secret, a.token, a.aes_key, a.type, a.open, a.create_time, a.update_time
        from t_wx_account a
    </sql>

    <select id="selectWxAccountList" parameterType="WxAccount" resultMap="WxAccountResult">
        <include refid="selectWxAccountVo"/>
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="appid != null  and appid != ''"> and a.appid = #{appid}</if>
            <if test="appSecret != null  and appSecret != ''"> and a.app_secret = #{appSecret}</if>
            <if test="token != null  and token != ''"> and a.token = #{token}</if>
            <if test="aesKey != null  and aesKey != ''"> and a.aes_key = #{aesKey}</if>
            <if test="type != null "> and a.type = #{type}</if>
        </where>
    </select>

    <select id="selectWxAccountById" parameterType="Long" resultMap="WxAccountResult">
        <include refid="selectWxAccountVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertWxAccount" parameterType="WxAccount">
        insert into t_wx_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="appid != null and appid != ''">appid,</if>
            <if test="appSecret != null and appSecret != ''">app_secret,</if>
            <if test="token != null and token != ''">token,</if>
            <if test="aesKey != null">aes_key,</if>
            <if test="type != null">type,</if>
            <if test="open != null">open,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="appid != null and appid != ''">#{appid},</if>
            <if test="appSecret != null and appSecret != ''">#{appSecret},</if>
            <if test="token != null and token != ''">#{token},</if>
            <if test="aesKey != null">#{aesKey},</if>
            <if test="type != null">#{type},</if>
            <if test="open != null">#{open},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWxAccount" parameterType="WxAccount">
        update t_wx_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="appid != null and appid != ''">appid = #{appid},</if>
            <if test="appSecret != null and appSecret != ''">app_secret = #{appSecret},</if>
            <if test="token != null and token != ''">token = #{token},</if>
            <if test="aesKey != null">aes_key = #{aesKey},</if>
            <if test="type != null">type = #{type},</if>
            <if test="open != null">open = #{open},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxAccountById" parameterType="Long">
        delete from t_wx_account where id = #{id}
    </delete>

    <delete id="deleteWxAccountByIds" parameterType="String">
        delete from t_wx_account where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertWxAccountBatch" parameterType="java.util.List">

        REPLACE INTO t_wx_account
        (id,name,appid,app_secret,token,aes_key,type,open,create_time,update_time,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.name},#{item.appid},#{item.appSecret},#{item.token},#{item.aesKey},#{item.type},#{item.open},#{item.createTime},#{item.updateTime},)

        </foreach>
    </insert>

</mapper>
