<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.mapper.WxUserMapper">

    <resultMap type="WxUser" id="WxUserResult">
        <result property="id"    column="id"    />
        <result property="unionId"    column="union_id"    />
        <result property="minaOpenid"    column="mina_openid"    />
        <result property="mpOpenid"    column="mp_openid"    />
        <result property="headImage"    column="head_image"    />
        <result property="nickname"    column="nickname"    />
        <result property="gender"    column="gender"    />
        <result property="mobile"    column="mobile"    />
        <result property="isSubscribe"    column="is_subscribe"    />
        <result property="subscribeTime"    column="subscribe_time"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWxUserVo">
        select a.id, a.union_id, a.mina_openid, a.mp_openid, a.head_image, a.nickname, a.gender, a.mobile, a.is_subscribe, a.subscribe_time, a.name, a.remark, a.create_by, a.create_time, a.update_by, a.update_time
        from t_wx_user a
    </sql>

    <select id="selectWxUserList" parameterType="WxUser" resultMap="WxUserResult">
        <include refid="selectWxUserVo"/>
        <where>
            <if test="unionId != null  and unionId != ''"> and a.union_id = #{unionId}</if>
            <if test="minaOpenid != null  and minaOpenid != ''"> and a.mina_openid = #{minaOpenid}</if>
            <if test="mpOpenid != null  and mpOpenid != ''"> and a.mp_openid = #{mpOpenid}</if>
            <if test="headImage != null  and headImage != ''"> and a.head_image = #{headImage}</if>
            <if test="nickname != null  and nickname != ''"> and a.nickname like concat('%', #{nickname}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile = #{mobile}</if>
            <if test="isSubscribe != null  and isSubscribe != ''"> and a.is_subscribe = #{isSubscribe}</if>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectWxUserById" parameterType="Long" resultMap="WxUserResult">
        <include refid="selectWxUserVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertWxUser" parameterType="WxUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_wx_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unionId != null">union_id,</if>
            <if test="minaOpenid != null">mina_openid,</if>
            <if test="mpOpenid != null">mp_openid,</if>
            <if test="headImage != null">head_image,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="gender != null">gender,</if>
            <if test="mobile != null">mobile,</if>
            <if test="isSubscribe != null">is_subscribe,</if>
            <if test="subscribeTime != null">subscribe_time,</if>
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unionId != null">#{unionId},</if>
            <if test="minaOpenid != null">#{minaOpenid},</if>
            <if test="mpOpenid != null">#{mpOpenid},</if>
            <if test="headImage != null">#{headImage},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="gender != null">#{gender},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="isSubscribe != null">#{isSubscribe},</if>
            <if test="subscribeTime != null">#{subscribeTime},</if>
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWxUser" parameterType="WxUser">
        update t_wx_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="unionId != null">union_id = #{unionId},</if>
            <if test="minaOpenid != null">mina_openid = #{minaOpenid},</if>
            <if test="mpOpenid != null">mp_openid = #{mpOpenid},</if>
            <if test="headImage != null">head_image = #{headImage},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="isSubscribe != null">is_subscribe = #{isSubscribe},</if>
            <if test="subscribeTime != null">subscribe_time = #{subscribeTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxUserById" parameterType="Long">
        delete from t_wx_user where id = #{id}
    </delete>

    <delete id="deleteWxUserByIds" parameterType="String">
        delete from t_wx_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertWxUserBatch" parameterType="java.util.List">

        REPLACE INTO t_wx_user
        (id,union_id,mina_openid,mp_openid,head_image,nickname,gender,mobile,is_subscribe,subscribe_time,name,remark,create_by,create_time,update_by,update_time,)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">

            (#{item.id},#{item.unionId},#{item.minaOpenid},#{item.mpOpenid},#{item.headImage},#{item.nickname},#{item.gender},#{item.mobile},#{item.isSubscribe},#{item.subscribeTime},#{item.name},#{item.remark},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},)

        </foreach>
    </insert>

</mapper>
